<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugins-wechat" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    	<name>wechat</name>
	<js-module name="wechat" src="www/wechat.js">
		<clobbers target="wechat" />
	</js-module>

	<platform name="ios">
		<config-file target="config.xml" parent="/*">
	    		<feature name="WeChat">
				<param name="ios-package" value="WeChat" />
	    		</feature>
		</config-file>
		<source-file src="src/ios/WeChat.swift" />
		
		<framework src="SwiftyJSON" type="podspec" spec="~> 3.1.4"/>
		<framework src="Alamofire" type="podspec" spec="~> 4.4"/>
		<framework src="Socket.IO-Client-Swift" type="podspec" spec="~> 8.3.3"/>
	</platform>

</plugin>
